<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ section }} - 信息与控制工程学院</title>
    <link rel="stylesheet" type="text/css" href="../static/css/article-list.css">
</head>

<body>
<div>
    <div class="header">
        <a href="javascript:window.history.go(-1)"><img src="../static/back.png"> </a>
        <h2>{{ section }}</h2>
    </div>
    <div>
        <ul>
            {% for i in range(0, length) %}
                <li>
                    <a href="article?id={{ i }}" method="GET">
                        <h3>{{ titles[i] }}</h3>
                        <!--
                              <div class="pic">
                                   <img width="100" height="75" src="">
                                </div>
                                -->
                    </a>
                    <div>
                        <p>
                            {{ times[i] }}
                        </p>
                    </div>
                            
                </li>
            {% endfor %}
            <div class="more-info">
                <a href="javascript:;">点击加载更多……
                    <span></span>
                </a>
            </div>
        </ul>
    </div>
</div>
<footer>
    <div>©Powered by 大学生易信发展中心</div>
</footer>
</body>

</html>